
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/


.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db


*.log
Log.txt

models_cache/
*.cache/
huggingface_cache/
.transformers/


instance/
*.sqlite3

.env

static/outputs/
backend/static/outputs/


*.pid
